<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Flood Prediction | Home</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}" />
</head>
<body>
  <header>
    <h1>Flood Prediction</h1>
    <nav>
      <a href="{{ url_for('home') }}" class="active">Home</a>
      <a href="{{ url_for('intro') }}">Intro</a>
      <a href="{{ url_for('predict') }}">Predict</a>
    </nav>
  </header>

  
  <section class="full-hero">
    <div class="hero-overlay">
      <div class="hero-content">
        <h2>Welcome to Flood Forecast</h2>
        <p>Your one-stop solution for real-time flood prediction using advanced machine learning models.</p>
        <a href="{{ url_for('predict') }}" class="button">Get Started</a>
      </div>
    </div>
  </section>
</body>
</html>
