<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Flood Prediction | Predict</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}"/>
</head>
<body>
  <header>
    <h1>Flood Prediction</h1>
    <nav>
        <a href="{{ url_for('home') }}">Home</a>
        <a href="{{ url_for('intro') }}">Intro</a>
        <a href="{{ url_for('predict') }}">Predict</a>
    </nav>
  </header>

  <main>
    <h2>Predict Flood Risk</h2>
    <form action="/predict" method="POST">
      <input type="number" name="temp" placeholder="Temperature (°C)" required />
      <input type="number" name="humidity" placeholder="Humidity (%)" required />
      <input type="number" name="cloud_cover" placeholder="Cloud Cover (%)" required />
      <input type="number" name="annual_rainfall" placeholder="Annual Rainfall (mm)" required />
      <input type="number" name="rain_janfeb" placeholder="Jan-Feb Rainfall (mm)" required />
      <input type="number" name="rain_mar_may" placeholder="Mar-May Rainfall (mm)" required />
      <input type="number" name="rain_jun_sep" placeholder="Jun-Sep Rainfall (mm)" required />
      <input type="number" name="rain_octdec" placeholder="Oct-Dec Rainfall (mm)" required />
      <input type="number" name="avg_june" placeholder="Average June Rainfall (mm)" required />
      <input type="number" name="sub" placeholder="Sub-Division Index" required />
      <button type="submit">Predict Flood Risk</button>
    </form>
    
  </main>
</body>
</html>
